.landing {

    background-color: rgb(241, 242, 242);
}

body {
    background-color:rgb(255, 255, 255);

}

.colorBox1 {

    background-color: rgb(59, 149, 228);
    position: absolute;
  top: -20px; /* Adjust as needed */
  right: -20px; /* Adjust as needed */
  width: 300px; /* Adjust width */
  height: 1050px; /* Adjust height */
  z-index: 1;
}

.colorBox2 {

    background-color: rgb(59, 149, 228);
    position: absolute;
  top: -20px; /* Adjust as needed */
  left: -20px; /* Adjust as needed */
  width: 300px; /* Adjust width */
  height: 1050px; /* Adjust height */
  z-index: 1;
}